<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Multiples of 3 and 5/src/Multiples_of_3_and_5.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Multiples_of_3_and_5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Multiples of 3 and 5"/>
</launchConfiguration>
